/*
Project styles:
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
*/


Body {
  padding: 50px;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputBar input, .MainInputBar input {
  padding: 5px;
  font-size: 16px;
  height: 25px;
}

.MainInputBar input {
  width: 250px;
  margin-bottom: 7px;
}

.MainInputBar button {
  padding: 5px;
  font-size: 16px;
  width: 80px;
  height: 40px;
  margin-left: 10px;
  background-color: rgba(244, 67, 54, 0.85);
  color: white;
  border: none;
  border-radius: 5%;
}

.InputBar button, .CompleteButton button {
  padding: 5px;
  font-size: 16px;
  min-width: 70px;
  height: 35px;
  margin-left: 5px;
  background-color: rgba(244, 67, 54, 0.85);
  color: white;
  border: none;
  border-radius: 5%;
}

/* ==================== */
/*  AppTitle styling    */
/* ==================== */
.AppTitle {
  margin-bottom: 25px;
  min-width: 175px;
  align-self: flex-start;

}

.AppTitle h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #403d3d;
}

.AppTitle h1 span {
  color: rgba(123, 119, 119, 0.9);
}


.TaskList, .CompleteTaskList {
  list-style: none;
  padding-left: 0;
  width: 375px;
  justify-content: center;
}

.TaskList div {
  margin-bottom: 2px;
}

.TaskList li {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #5a5757;
}

.CompleteTaskList li {
  background-color: #fafafa;
  text-decoration: line-through;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #5a5757;
}

.Complete h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 30px auto 15px auto;
}

.Flex-Row {
  display: flex;
  flex-direction: row;
}

.UnCompleteButton button {
  padding: 5px;
  font-size: 16px;
  min-width: 70px;
  height: 35px;
  margin-left: 5px;
  background-color: rgba(244, 67, 54, 0.85);
  color: white;
  border: none;
  border-radius: 5%;
}

.MenuTopBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.SignOutComponent button {
  padding: 5px;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  width: 100px;
  height: 25px;
  margin-right: 10px;
  background-color: rgba(244, 67, 54, 0.85);
  color: white;
}

/* ======================== */
/*  Login Page Stylings     */
/* ======================== */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-A, .column-B {
  margin: 0px 25px;
}
